/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}

.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}





/*HEADER TOP*/
.container_top{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

header{
    width: 100%;
    position: absolute;
    z-index: 1;
}

.header_top{
    background: #1E6140;
}

.nav-item .dropdown-toggle::after {
    display: none;
}

.container-fluid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.container_top .nav-item a.nav-link{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    padding: 15px 18px;

}

.header_nav .navbar{
    padding: 0;
}

.navbar-nav:nth-last-child(1)::after{
    content: "";
    height: 50px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 40px;
}

.enter_btn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
}


.enter_btn:hover,
.header_nav a:hover{
    color: #F8F8F8;
    background: rgba(255, 255, 255, 0.1)
}

.nav-item a.nav-link[aria-expanded="true"] .header_arrow{
-webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
}    


.header_nav .enter_btn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 14px;
}

.enter_btn img{
    padding-right: 10px;
}



.dropdown-menu.show{
    position: absolute;
    background: #1E6140;
    top: 9px;
}

.dropdown-menu .dropdown-item{
    display: block;
    padding-right: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    padding: 15px 70px 15px 15px;
}

.navbar-nav .dropdown-menu[data-bs-popper] {
    top: 96%;
}


/*-----------------------*/

/*HEADER MIDDLE*/

.container.middle_container{
    width: 100%;
    max-width: 1110px;
    padding-top: 50px;
}

.header_middle{
    padding: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.logo{
    width: 158px;
    height: 71px;
}
.logo a{
  display: block;
}

.search{
    margin-top: 15px;
    
}
.search_form{
    max-width: 338px;
    height: 38px;
    margin-left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 90px;
}

.search input{
    margin-top: 2px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    height: 28px;
    width: 280px;   
    background-color: rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

input::-webkit-input-placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #484848;
}

input::-moz-placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #484848;
}

input:-ms-input-placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #484848;
}

input::-ms-input-placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #484848;
}

input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #484848;
}

.search button{
    border: none;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0);
    vertical-align: auto;
}

.call_me{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 265px;
}

.call_me a:hover{
    text-decoration: underline;
    color: #000;
}

.call_back{
    overflow: hidden;
    padding-left: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #84BE51;
}

.telephone{
    padding-left: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.middle_nav{
    margin-top: 15px;
}

.middle_nav a{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border: 1px solid #8C3213;
    border-radius: 50%;
    padding: 10px;
}


.middle_nav a:hover{
    background: #8C3213;
    -webkit-box-shadow: 0px 5px 14px rgba(140, 50, 19, 0.3);
            box-shadow: 0px 5px 14px rgba(140, 50, 19, 0.3);
}


.middle_nav .total_price{
    float: left;
    display: block;
    margin: 10px 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}



.headerNav_hidden{
    display: none;
}

.bottom_nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.bottom_nav a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 200px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    border: 1px solid #1E6140;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 0 2px;
}

.bottom_nav_img{
    margin: 0px 10px;
}


.bottom_nav a:hover{
    color: #fff;
    background-color: #E74E13;
    border: 1px solid #E74E13;
}


.bottom_nav_mobile{
    display: none;
}


/*MAIN SECTION*/
.main_section{
    background: url(../img/background/inner_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main_container{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}


.sub_container{
    width: 100%;
    max-width: 1525px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.main_text{
    margin: 90px 0px 0 45px;
    max-width: 570px;
    position: relative;
}

.main_text img{
    position: absolute;
    top: 28px;
    left: -40px;
}

.main_text h1{
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: #000000;
}

.main_text h1 span{
    font-weight: 300;
    font-size: 55px;
    line-height: 67px;
    color: #000000;
}

.main_text p{
    font-weight: 400;
    font-size: 18px;
    max-width: 561px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin: 25px 0 25px;
}

.about_btn{
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background: #E74E13;
    border-radius: 90px;
    padding: 15px 48px;
    margin-top: 0px;
}

.about_btn:hover{
    background: #1E6140;
    color: #FFFFFF;
}


.main_image{
    max-width: 100%;
}

/*About Section*/

.about_section{
    padding-top: 108px;
    background-color: #F8F8F8;
}

.about_us_container{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.about_us_img{
    max-width: 100%;
}

.about_us_content{
    padding-left: 20px;
}

.about_us_content h2{
    font-weight: 700;
    font-size: 45px;
    color: #000; 
    margin-bottom: 20px;
}

.about_us_content img{
    margin-right: 17px;
}

.about_us_item{
    max-width: 540px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    color: #1E6140;
    padding: 5px 0;
}

.about_us_item span{
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    color: #1E6140;
}

.about_us_btn{
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background: #E74E13;
    border-radius: 90px;
    padding: 15px 48px;
    margin-top: 40px;
}


.about_us_btn:hover{
    background: #1E6140;
    color: #fff;
}


/**Novelty section**/

.novelty_section{
    background-color: #F8F8F8;
}

.slider_container{
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 80px;
}

.slider_container h2{
    font-weight: 700;
    font-size: 45px;
    color: #000;
    width: 316px;
    margin: 0 auto;
}

.slider{
    padding: 40px 0 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.slider_container span{
    padding: 0 16px;
}

.slider_item{
    background: #fff;
    border-radius: 20px;
    position: relative;
    padding: 10px 10px;
}

.slider_item:hover{
    -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
}

.item_top{
    background: #fff;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.item_top>img{
    padding: 30px 78px;
}

.item_top button{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 10px;
    border: none;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.item_top button:hover{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #8C3213;
    border-radius: 50%;
}

.item_bottom{
    background: rgba(140, 50, 19, 0.06);
    border-radius: 20px;
    margin: 0 auto;
}

.item_bottom h4{
    font-weight: 600;
    font-size: 16px;
    color: #000;
    padding: 20px;
    text-align: center;
}

.item_info{
    margin-top: 25px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.item_price{
    font-weight: 700;
    font-size: 18px;
    color: #84BE51;
    padding-left: 20px;
}

.item_quantity{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    padding-left: 20px;
}

.item_buy{
    padding: 0px 15px;
    width: 47px;
    height: 47px;
    border-radius: 90px;
    border: #FFFFFF;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.item_buy:hover{
    cursor: pointer;
    background: #8D3200;
}



.promotion_section{
    background: #1E6140;
}

.promotion_section 
.slider_container{
    padding: 115px 0;
    background: #1E6140;
}

.promotion_section .slider{
    padding-bottom: 110px;
}

.promotion_section h2{
    width: 220px;
    line-height: 55px;
    color: #FFFFFF;
}

.all_goods_btn{
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    max-width: 220px;
    height: 47px;
    background: #E74E13;
    border: 1px solid transparent;
    border-radius: 90px;
    padding: 10px 26px;
    margin: 0px auto;
}


.all_goods_btn:hover{
    background: #1E6140;
    border: 1px solid #E74E13;
    color: #FFFFFF;
}


/*Partners sectoin*/

.partners_section{
    background:#E5E5E5;
}

.partners{
    padding: 115px 0;
}

.partners .slider img{
    margin: 0 15px;
} 

.partners_section h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    width: 338px; 
    margin: 0 auto;
    padding: 0 13px;
}

.partners_section h2 span{
    padding: 0 16px;
}


.partners
.slider{
    width: 100%;
    max-width: 1740px;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.slider_btns{
    width: 100%;
    max-width: 1410px;
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    top: 0;
}




/*Seeds section*/

.seeds_section{
    background: url(../img/background/seeds_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seeds_section .container{
    padding: 110px 0 120px;
}

.seeds_section h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    width: 234px;
    margin-bottom: 16px;
}
.seeds_section h2 img{
    margin-right: 17px;
}

.seeds_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 15px 0;
}

/*Footer*/

footer{
position: relative;
}

.footer{
    max-width: 1110px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

footer .container{
    padding-top: 120px;
}

.footer_logo{
    max-width: 221px;
}

.footer_logo p{
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}

footer nav{
    margin-bottom: 115px;
}

.footer_list{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.footer_list li{
    margin-top: 25px;
}

.footer_list li a{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
}

.footer_list a:hover{
    color: #000000;
    -webkit-text-decoration: underline #000;
            text-decoration: underline #000;
}


footer .call_me{
    margin: 25px 0;
    text-decoration: none;
}

.footer_address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer_address a{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-left: 7px;
    text-decoration: none;
}


.to_header{
background: #84C551;
border-radius: 45px;
width: 65px;
height: 140px;
border: 1px solid #fff;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
position: absolute;
bottom: 0px;
right: 15%;
}

.to_header img{
    padding: 23px;
}

.to_header:hover{
    cursor: pointer;
    background: #1E6140;
}

.underline{
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    opacity: 0.5;
    padding: 25px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}



.new_slider{
    font-size: 30px;
    padding: 50px 0;
    max-width: 1110px;
    margin: 0 auto;
}


.slick-initialized .slick-slide {
    display: block;
    margin: 0 10px;
}

.new_slider.slick-dotted.slick-slider {
    margin-bottom: 0px;
    padding-bottom: 30px;
}

.slick-prev:before {
    content: '←';
    color: #000;
}

.slider_section{
    max-width: 100%;
    background-color: #F8F8F8;
}

.slick-list.draggable{
    padding: 25px 0;
}

.new_slider .slick-dots{
    position: absolute;
    bottom: 0px;
}

.new_slider .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    cursor: pointer;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}


.new_slider .slick-dots li button:before{
    content: none;
}

.new_slider .slick-dots li button{
    width: 6px;
    height: 16px;
    background: rgba(141, 50, 0, 0.1);
    border-radius: 20px;  
    padding: 0;
}

.new_slider .slick-dots li.slick-active button{
    width: 6px;
    height: 30px;
    background: #8D3200;
    border-radius: 20px;
    padding: 0;
}

button.slick-prev.slick-arrow{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #84C551;
    background: transparent;
    background-image: url(../img/left_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    left: -100px;
}


button.slick-next.slick-arrow{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #84C551;
    background: transparent;
    background-image: url(../img/right_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    right: -110px;
}

.promotion_section button.slick-next.slick-arrow,
.promotion_section button.slick-prev.slick-arrow{
    top: 40%;
}


button.slick-prev.slick-arrow:hover{
    background: #83c452;
    cursor: pointer;
    background-image: url(../img/left_arrow_white.svg);
    background-repeat: no-repeat;
    background-position: center;
}



button.slick-next.slick-arrow:hover{
    background: #83c452;
    cursor: pointer;
    background-image: url(../img/right_arrow_white.svg);
    background-repeat: no-repeat;
    background-position: center;
}

button.slick-prev.slick-arrow:before{
    content: none;
}


button.slick-next.slick-arrow:before{
    content: none;
}


.promotion_section .new_slider.slick-dotted.slick-slider {
    margin-bottom: 0px;
    padding-bottom: 110px;
    padding-top: 35px;
}



.promotion_section .new_slider .slick-dots {
    position: absolute;
    bottom: 40px;
}



.promotion_section .new_slider .slick-dots li button{
    width: 6px;
    height: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px; 
    padding: 0; 
}

.promotion_section .new_slider .slick-dots li.slick-active button{
    width: 6px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 0;
}

.partners_section div.new_slider {
    max-width: 100%;

}

.partners_section .new_slider
.slick-next{
    right: 15%;
}

.partners_section .new_slider
.slick-prev{
    left: 15%;
}

.partners_section .new_slider
.slick-track div.slick-slide {
    display: block;
    width: 255px !important;
}



.partners_section .new_slider 
button.slick-prev.slick-arrow{
 z-index: 1;
}
