.clearfix{
    clear: both;
}

.fl{
    float: left;
}
.fr{
    float: right;
}

body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}


.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}


/*HEADER TOP*/
header{
    width: 100%;
    position: absolute;
}


.header_top{
    background: #1E6140;
    overflow: hidden;
}

.header_nav{
    float: left;
}

.header_nav ul{
    overflow: hidden;
}

.header_nav ul:nth-last-child(1)::after{
    content: "";
    float: left;
    height: 50px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 70px;
}


.header_nav li{
    float: left;
    padding: 15px 0;

}

.header_nav a{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    padding: 14px 18px;
}


.enter_btn:hover,
.header_nav a:hover{
    background: rgba(255, 255, 255, 0.1)
}

.enter_btn{
    float: right;
}

.enter_btn{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 13px 10px;
}

.enter_btn img{
    padding-right: 10px;
}
/*-----------------------*/

/*HEADER MIDDLE*/

.header_middle{
    padding: 20px 0px;
    overflow: hidden;
}

.logo{
    width: 158px;
    height: 71px;
}
.logo a{
  display: block;
}

.search{
    margin-top: 15px;
    margin-left: 30px;
}
.search_form{
    width: 338px;
    height: 38px;
    margin-left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 90px;
}

.search input{
    margin: 5px 0 5px 10px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    height: 28px;
    width: 280px;   
    background-color: rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #484848;
}

.search button{
    border: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.call_me{
    margin-top: 15px;
    margin-left: 55px;
    overflow: hidden;
    width: 265px;
}

.call_me a:hover{
    text-decoration: underline;
    color: #000;
}

.call_back{
    overflow: hidden;
    padding-left: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #84BE51;
}

.telephone{
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #000000;
}

.middle_nav{
    margin-top: 15px;
}

.middle_nav a{
    box-sizing: border-box;
    float: left;
    margin: 0 7px;
    width: 40px;
    height: 40px;
    border: 1px solid #8C3213;
    border-radius: 50%;
    padding: 11px;
}


.middle_nav a:hover{
    background: #8C3213;
    box-shadow: 0px 5px 14px rgba(140, 50, 19, 0.3);
}


.middle_nav .total_price{
    float: left;
    display: block;
    margin: 10px 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    
}


.header_bottom{
    overflow: hidden;
}
.bottom_nav{
    overflow: hidden;
}

.bottom_nav a{
    float: left;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    border: 1px solid #1E6140;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 25px;
}

.bottom_nav a span{
   float: left;
   margin-top: 11px;
}

.bottom_nav a .big{
    margin-top: 6px;
}

.bottom_nav a .center{
    margin-left: 35px;
}


.bottom_nav_img{
    margin-left: 5px;
    padding: 7px;
    float: left;
}

.bottom_nav :nth-last-child(1){
    margin-right: 0;    
}

.bottom_nav a:hover{
    color: #fff;
    background-color: #E74E13;
    border: 1px solid #E74E13;
}


/*MAIN SECTION*/
.main_section{
    background: url(../img/background/inner_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    overflow: hidden;
}

.main_container{
    overflow: hidden;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 90px;
}


.sub_container{
    overflow: auto;
    width: 100%;
    max-width: 1510px;
}

.main_text{
    margin-top: 90px;
    margin-right: 105px;
    max-width: 570px;
   
}

.main_text h1{
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: #000000;
    float: left;
}

.main_text h1 span{
    font-weight: 300;
    font-size: 55px;
    line-height: 67px;
    color: #000000;
    padding-left: 45px;
}

.main_text p{
    font-weight: 400;
    font-size: 18px;
    max-width: 561px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 23px;
    clear: both;
    float: left;
    margin: 25px 0 25px;
    padding-left: 45px;
}

.about_btn{
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background: #E74E13;
    border-radius: 90px;
    padding: 15px 48px;
    clear: both;
    float: left;
    margin-left: 45px;
}

.about_btn:hover{
    background: #1E6140;
}



/*About Section*/

.about_section{
    padding: 108px;
    background-color: #F8F8F8;
    overflow: hidden;
}

.about_us_container{
    width: 100%;
    max-width: 1350px;
    overflow: hidden;
    margin: 0 auto;
}

.about_us_img{
    width: 683px;
    height: 557px;
}

.about_us_content h2{
    font-weight: 700;
    font-size: 45px;
    color: #000; 
    margin-bottom: 20px;
}

.about_us_content img{
    margin-right: 17px;
    overflow: hidden;
}

.about_us_item{
    width: 540px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    color: #1E6140;
    clear: both;
    float: left;
    padding: 5px 0;
}

.about_us_item span{
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    color: #1E6140;
}

.about_us_btn{
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background: #E74E13;
    border-radius: 90px;
    padding: 15px 48px;
    margin-top: 40px;
    clear: both;
    float: left;
}


.about_us_btn:hover{
    background: #1E6140;
}


/**Novelty section**/

.novelty_section{
    background-color: #F8F8F8;
    overflow: hidden;
}

.slider_container{
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
    overflow: hidden;
}

.slider_container h2{
    font-weight: 700;
    font-size: 45px;
    color: #000;
    width: 316px;
    margin: 0 auto;
}

.slider{
    overflow: hidden;
    padding: 40px 0 190px;
}

.slider_container span{
    padding: 0 16px;
}

.left_arrow{
    float: left;
    margin-top: 142px;
    margin-right: 80px;
}

.slider_article{
    float: left;
    margin-right: 30px;
}

.right_arrow{
    float: right;
    margin-top: 142px;
}

.slider_item{
    width: 255px;
    height: 355px;
    background: #fff;
    border-radius: 20px;
    position: relative;
}

.slider_item:hover{
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
}



.item_top{
    background: #fff;
    border-radius: 20px;
}

.item_top>img{
    padding: 30px 78px;
}

.item_top button{
    box-sizing: border-box;
    padding: 10px 10px;
    border: none;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
    
}
.item_top button:hover{
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #8C3213;
    border-radius: 50%;
}

.item_bottom{
    width: 235px;
    height: 150px;
    background: rgba(140, 50, 19, 0.06);
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
}

.item_bottom h4{
    font-weight: 600;
    font-size: 16px;
    color: #000;
    padding: 20px;
}

.item_info{
    overflow: hidden;
    padding: 5px;
}

.item_price{
    font-weight: 700;
    font-size: 18px;
    color: #84BE51;
    float: left;
    padding: 20px 0 0 20px;
}

.item_quantity{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    clear: both;
    float: left;
    padding-left: 20px;
}

.item_buy{
    width: 47px;
    height: 47px;
    border-radius: 90px;
    border: #FFFFFF;
    background: #FFFFFF;
    margin-left: 115px;
    margin-top: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.item_buy:hover{
    cursor: pointer;
    background: #8D3200;
}

.left_arrow, 
.right_arrow{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #84C551;
    background: transparent;
}

.left_arrow:hover,
.right_arrow:hover{
    background: #83c452;
    cursor: pointer;
}

.right_arrow img{
transform: scaleX(-1);
}


.promotion_section{
    background: #1E6140;
}

.promotion_section 
.slider_container{
    padding: 115px 0;
    background: #1E6140;
}

.promotion_section .slider{
    padding-bottom: 110px;
}

.promotion_section h2{
    width: 220px;
    line-height: 55px;
    color: #FFFFFF;
}

.all_goods_btn{
    display: block;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    width: 220px;
    height: 47px;
    background: #E74E13;
    border: 1px solid transparent;
    border-radius: 90px;
    padding: 15px 19px;
    margin: 0px auto;
}


.all_goods_btn:hover{
    background: #1E6140;
    border: 1px solid #E74E13;
}


/*Partners sectoin*/

.partners_section{
    background:#E5E5E5;
    overflow: hidden;
}

.partners{
    padding: 115px 0;
}

.partners .slider img{
    margin: 0 15px;
} 

.partners_section h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    width: 338px; 
    margin: 0 auto;
    padding: 0 16px;
}

.partners_section h2 span{
    padding: 0 16px;
}


.partners
.slider{
    width: 100%;
    max-width: 1740px;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
}

.slider_btns{
    width: 100%;
    max-width: 1410px;
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    top: 0;
}


.partners .left_arrow{
    margin: 0;
    position: absolute;
    left: 180px;
    top: 70px;
    
}
.partners .right_arrow{
    margin: 0;
    position: absolute;
    right: 180px;
    top: 70px;
}

/*Seeds section*/

.seeds_section{
    background: url(../img/background/seeds_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seeds_section .container{
    padding: 110px 0 120px;
}

.seeds_section h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    width: 234px;
    margin-bottom: 16px;
    float: left;
}
.seeds_section h2 img{
    margin-right: 17px;
}

.seeds_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    clear: both;
    margin: 15px 0;
}

/*Footer*/

footer{
    position: relative;
}

footer .container{
    padding-top: 120px;
    overflow: hidden;
}

.footer_logo{
    max-width: 221px;
}

.footer_logo p{
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}

footer nav{
    float: left;
    margin-bottom: 115px;
}

.footer_list{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-left: 70px;
}

.footer_list li{
    margin-top: 25px;
}

.footer_list li a{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.footer_list a:hover{
    color: #000000;
    text-decoration: underline #000;
}


footer .call_me{
    margin: 25px 0;
}

.footer_address{
float: left;
overflow: hidden;
}

.footer_address a{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    float: right;
    margin: 10px 0 0 5px;
}


.to_header{
background: #84C551;
border-radius: 30px;
width: 65px;
height: 140px;
border: 1px solid #fff;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
position: absolute;
bottom: 0px;
right: 279px;
}

.to_header img{
    padding: 23px;
}

.to_header:hover{
    cursor: pointer;
    background: #1E6140;
}

.the_end{
    width: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    opacity: 0.5;
    margin: 17px auto;
}